body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.login-box {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 5px;
}
